div.attribution {
    margin-top: 2rem;
}

.attribution,
.attribution a  {
  text-decoration: none;
  text-align: center;
  font-size: 0.6rem;
  padding-bottom: 1rem;
  transition: color .5s;

  a {
    color: var(--grey-700);
  }
  
  a:hover {
    color: var(--grey-700);
  }
  
  a:active {
      color: var(--grey-700)
  }
}
