* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-900);
    color: var(--white);
}